extends layout.pug

block link
	-var selected = 'Gästebuch';

append content
	.card.card-body
			strong Willkommen bei unserem Gästebuch!
			p Über einen netten Eintrag würden wir uns freuen!
			a.btn.btn-success.btn-block(href='#form', data-toggle='collapse') G&auml;stebucheintrag schreiben

	#form.collapse.top3.card.card-body
		form.form-horizontal(method="post")
			.form-group.col-md-12
				label.control-label(for='name') Name
				input#name.form-control.input-md(name='name', type='text', placeholder='Ihr Name', required)
			.form-group.col-md-12
				label.control-label(for='wohnort') Wohnort
				input#wohnort.form-control.input-md(name='wohnort', type='text', placeholder='Ihr Wohnort', required)
			.form-group.col-md-12
				label.control-label(for='nachricht') Nachricht
				textarea#nachricht.form-control(name='nachricht' required)
			.form-group.col-md-12
				label.control-label(for='captcha') Captcha
				script(src="//www.google.com/recaptcha/api.js" async defer)
				#captcha.g-recaptcha(data-sitekey="6LdhA1YUAAAAAAkfDJrJ4rYREXUxqi9Ewgpl9LHe")
			.form-group.col-md-12
				label.control-label(for='submit')
				button#submit.btn.btn-success.btn-block(name='submit') Speichern

	each obj, index in data
		.card.top3.card-block
			.row
				.col-md-12
					.card-header Von 
						strong #{obj.name} 
						| aus 
						strong #{obj.ort === "" ? "keine Angabe" : obj.ort} 
						| am 
						strong #{obj.datum}
					.card-body
						each line in obj.nachricht.split(/\n/)
							= line
							br
								
	
	.top3.clearfix
		if (info.hasPreviousPage) 
			- var prevPage = "/guestbook/page/" + (info.currentPage - 1)
			a.btn.btn-primary.float-left(href=prevPage) Vorherige Seite
		else
			a.btn.btn-primary.float-left.disabled(href='#') Vorherige Seite
		if (info.hasNextPage)
			- var nextPage = "/guestbook/page/" + (info.currentPage + 1)
			a.btn.btn-primary.float-right(href=nextPage) Nächste Seite
		else	
			a.btn.btn-primary.float-right.disabled(href="#") Nächste Seite
		
