extends layout.pug

block link
	-var selected = 'Intern';

append content
	.alert.alert-danger.alert-dismissible.fade.show(role="alert") Hier können Gästebucheinträge gelöscht werden. Vorsicht! Gelöschte Einträge können nicht wiederhergestellt werden!
			button.close(type='button', data-dismiss='alert', aria-label='Close')
				span(aria-hidden='true') ×
	each obj, index in data
		.row
			.col-md-12
				.card.top3.card-block
					.card-header Von 
						strong #{obj.name} 
						| am 
						strong #{obj.datum} ID: #{obj.id}

					.card-body
						each line in obj.nachricht.split(/\n/)
							= line
							br
						br
						button.btn.btn-danger.btn-block.delete-button(type="button" id=obj.id) Löschen	
								
	
	.top3.clearfix
		if (info.hasPreviousPage) 
			- var prevPage = "/intern/guestbook/" + (info.currentPage - 1)
			a.btn.btn-primary.float-left(href=prevPage) Vorherige Seite
		else
			a.btn.btn-primary.float-left.disabled(href='#') Vorherige Seite
		if (info.hasNextPage)
			- var nextPage = "/intern/guestbook/" + (info.currentPage + 1)
			a.btn.btn-primary.float-right(href=nextPage) Nächste Seite
		else	
			a.btn.btn-primary.float-right.disabled(href="#") Nächste Seite
		
		script.
			var deleteButtons = document.getElementsByClassName("delete-button");

			for (let i = 0; i < deleteButtons.length; i++) {
				deleteButtons[i].addEventListener("click", getClick);
			}

			function getClick(button) {
				var target = button.target || button.srcElement;
				var id = target.id
				bootbox.confirm({ 
					message: "Eintrag mit der ID " + id + " wirklich löschen?", 
					buttons: {
						confirm: {
							label: 'Ja',
							className: 'btn-danger'
						},
						cancel: {
							label: 'Nein',
							className: 'btn-success'
						}
					},
					callback: function(result) {
						if (result) {
							window.location.replace("/intern/guestbook/delete/" + id);
						}
					}
				});
			}
		
		append scripts
			script(src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js")
